.main-slider-item img {
    width: 1560px;
}

.dropdown-item:hover {
    background-color: #CDA566;
}

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

btn-show {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

btn-show span{
    position: relative;
    z-index: 2;
}

btn-show:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

btn-show:hover{
    color: #fff;
}

btn-show:hover:after{
    width: 100%;
}
